.basketTitle{
    text-align: center;
}

.basketImage{
    height: 100px;
    width: 100px;
}

.customHr{
    background-color: rgba(0, 0, 0, 0.54);
    height: 1px;
    width: 100%;
}

.basketText{
    max-width: 450px;
}

.basketInputCount{
    width: 50px;
    margin-left: 5px !important;
    margin-right: 20px !important;
    margin-bottom: 18px !important;
}