.cardWrapper{
    padding: 20px 0;
}

.card{
    height: '100%';
    display: 'flex';
    flex-direction: 'column';
}

.cardContent{
    min-height: 140px;
}

.CardImage{
    width: 100%;
    height: 200px;
}